<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <style>
        body{
            background: #f46b45;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>

    <title>Tipo 2</title>
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/metodo1">Metodo 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/metodo2">Metodo 2</a>
        </li>
    </ul>
    
    <div class="row m-1 container mt-5">

        <div class="col-12">
          
          <form action="/res/2" method="POST">
            <div class="form-group">
              <h2 class="text-light">Universo de Herbrand</h2>
              <input type="text" class="form-control" name="inputUniverso" placeholder="Ej: pedro,maria">
            </div>
            
            <div class="form-group my-5">
              <h2 class="text-light">Hechos con variables (Estructura)</h2>
              <input type="text" class="form-control" name="inputHechos" placeholder="Ej: quiere:X,X/odia:X,X   ....">
            </div>

            <div class="form-group my-5">
              <h2 class="text-light">Clausula de programa</h2>
              
              <input type="text" class="form-control" name="inputClausula"placeholder="Ej: quiere:X,pedro:-odia:maria,X">
            </div>
              
            <button type="submit" class="btn btn-primary">Calcular modelos de Clausula</button>
          </form>
        </div>
  
      </div>
</body>
</html>